.scrollToTop {
  background-color: #FFA500;
  border: 2px solid #FFA500;
}

.mu-readmore-btn,
.mu-browsmore-btn,
.mu-main-navbar .mu-main-nav li a:hover,
.mu-main-navbar .mu-main-nav li a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title,
.mu-about-us-right ul li:before,
.mu-title .mu-subtitle,
.mu-footer-copyright p a:hover,
.mu-footer-copyright p a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.mu-main-navbar .navbar-header .navbar-brand span {
  color: #FFA500;
}

.mu-readmore-btn::after,
.mu-testimonial-slider .slick-dots li,
.mu-top-slider .slick-dots li button {
  border: 2px solid #FFA500;
}

.mu-readmore-btn:hover,
.mu-readmore-btn:focus,
.mu-testimonial-slider .slick-dots .slick-active,
.mu-footer-social a:hover,
.mu-footer-social a:hover,
.navbar-default .navbar-toggle .icon-bar,
.mu-top-slider .slick-dots li.slick-active button::before {
  background-color: #FFA500;
}

.mu-counter-nav li .mu-single-counter {
  background-color: #f8f8f8;
}

.mu-readmore-btn:hover::after,
.mu-readmore-btn:focus::after {
  border-color: #FFA500;
}

.mu-browsmore-btn:hover,
.mu-browsmore-btn:focus,
.mu-top-slider .slick-prev:hover,
.mu-top-slider .slick-prev:focus,
.mu-top-slider .slick-next:hover,
.mu-top-slider .slick-next:focus,
.mu-send-btn:hover,
.mu-send-btn:focus {
  background-color: #FFA500;
  border-color: #FFA500;
}


.mu-contact-right h3,
.mu-contact-left h3,
.mu-features-right h3,
.mu-features-left h3 {
  border-bottom: 2px solid #FFA500;
}

.mu-contact-left a:hover,
.mu-contact-left a:focus,
.mu-contact-right a:hover,
.mu-contact-right a:focus,
.mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p a:hover,
.mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p a:focus,
.mu-testimonial-content > p a:hover,
.mu-testimonial-content > p a:focus {
  color: #FFA500;
  text-decoration: underline;
}
